<html>
<head>
	<script src="http://code.jquery.com/jquery-1.7.2.js"></script>
	<script src="underscore.js"></script>
	<script src="backbone.js"></script>
</head>
<body>
	<script id="title-tmpl" type="text/template">
		<p><%= part1 %><%= part2 %></p>
	</script>
	<script id="value_tmpl" type="text/template">
		<%= value %>
	</script>
	<script id="master_tmpl" type="text/template">
		<div style="border-style:solid;border-width:1px">
		<% _(items).each(function(item){ console.log(item.value);}) %>
		</div>
	</script>
	<script>
	$(document).ready(function(){
		var Item=Backbone.Model.extend({
				defaults: {
					items: [{value: 'Apple'}, {value: 'Jewel'}, {value: 'Something'}, {value: 'Nothing'}]
				}
		});
		var List=Backbone.Collection.extend({
			model: Item
		});
		window.thing=new Item();
		window.template=$('#master_tmpl').html();
		var MasterView=Backbone.View.extend({
				el:('#titleDiv'),
				initialize: function(){
						_.bindAll(this, 'render');
						this.render();
				},
				render: function(){
						$(this.el).html(_.template(window.template, window.thing.toJSON()));
						return this;
				}
		});
		var master=new MasterView();
		var ItemView=Backbone.View.extend({
				tagName: 'li',
				template: $('#title-tmpl').html(),
				initialize: function(){
						_.bindAll(this, 'render');
				},
				render: function(){
						$(this.el).html(_.template(this.template, this.model.toJSON()));// { model: this.model }));//'<span>'+this.model.get('part1')+' '+this.model.get('part2')+'</span>');
				return this;
				}
		});
		var ListView= Backbone.View.extend({
			//el: $('#titleDiv'),
			events: {
					'click button#add': 'addItem'
			},
			initialize: function(){
				_.bindAll(this, 'render', 'addItem', 'appendItem');
				this.collection=new List();
				this.collection.bind('add', this.appendItem);
				this.render();
			},
			render: function(){
					var self=this;
					$(this.el).append('<button id="add">Add list item</button>');
					$(this.el).append("<ul></ul>");
					_(this.collection.models).each(function(item){
							self.appendItem(item);
					}, this);
			},
			addItem: function(){
					var item=new Item();
					item.set({
							part2: item.get('part2')+"!"
							});
					this.collection.add(item);
			},
			appendItem: function(item){
					var itemView=new ItemView({
							model: item
					});
					$('ul', this.el).append(itemView.render().el);
			}
		});
		var listView=new ListView();
	});
	</script>
	<div id="titleDiv"></div>
</body>
</html>
